@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
}

.nojs {
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	display: table;
}

.nojsmsg {
	color: black;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	font-size: 200%
}

.distictions {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.plyr {
	height: 100%;
}